{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>CADKlee: Adicionar novo cliente</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/cadkleecss.css' %}">
</head>
<body>

    <div class="CADKlee_rectangle_div_red">
        <h1 class="CADKlee_title">CADKlee</h1>
    </div>

    <div class="CADKlee_form_login">
        <h1 class="CADKlee_singup_title">Incluir novo cliente: </h1>
        <br/>
        <br/>
        <form action="" method="post">
            <label class="labeltextform">Nome:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
            <input class="inputText" type="text" placeholder="Escreva aqui o nome"><br/><br/>
            <label class="labeltextform">CPF:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
            <input class="inputText" type="text" placeholder="Escreva aqui o CPF"><br/><br/>
            <label class="labeltextform">CNPJ:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
            <input class="inputText" type="text" placeholder="Escreva aqui o CNPJ"><br/><br/>
            <label class="labeltextform">Endereço 1:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
            <input class="inputText" type="text" placeholder="Escreva aqui o endereço"><br/><br/>
            <label class="labeltextform">Endereço 2:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
            <input class="inputText" type="text" placeholder="Escreva aqui o segundo endereço"><br/><br/>
            <label class="labeltextform">Telefone residencial:&nbsp&nbsp</label>
            <input class="inputText" type="text" placeholder="Escreva aqui o telefone"><br/><br/>
            <label class="labeltextform">Telefone comercial:&nbsp&nbsp&nbsp&nbsp</label>
            <input class="inputText" type="text" placeholder="Escreva aqui o telefone"><br/><br/>
            <label class="labeltextform">e-mail:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
            <input class="inputText" type="text" placeholder="Escreva aqui o email"><br/><br/>
            <label class="labeltextform">Descrição:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
            <input class="inputText" type="text" placeholder="Escreva aqui a descrição">
            &nbsp
            &nbsp
            &nbsp
            <input class="inputSubmit" type="submit" value="Incluir">
        </form>
        <br/>
        <a class="linkvoltar" href="../cadastro_de_clientes">Voltar</a>
                <br/>
        <br/>
        <br/>

    </div>

</body>
</html>