{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>CADKlee: Controle de estoque</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/cadkleecss.css' %}">
</head>
<body>

    <div class="CADKlee_rectangle_div_red">
        <h1 class="CADKlee_title">CADKlee</h1>
    </div>

    <div class="CADKlee_form_login">
        <h1 class="CADKlee_singup_title">Escolha uma opção: </h1>
        <br/>
        <br/>
        <br/>
        <a href="{% url 'pesquisa-produto' %}" class="alink">
            <div class="redRectangle">
                <h1 class="rectangles_titles_cadastro_clientes"> PESQUISAR PRODUTO</h1>
            </div>
        </a>
        <a href="{% url 'incluir-produto' %}" class="alink">
            <div class="redRectangle">
                <h1 class="rectangles_titles_cadastro_clientes">INCLUIR PRODUTO</h1>
            </div>
        </a>
        <br class="brDes"/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <a class="linkvoltar" href="../inicio/">Voltar</a>
    </div>

</body>
</html>