{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>CADKlee: Editar cliente</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/cadkleecss.css' %}">
</head>
<body>

    <div class="CADKlee_rectangle_div_red">
        <h1 class="CADKlee_title">CADKlee</h1>
    </div>

    <div class="CADKlee_form_login">
        <h1 class="CADKlee_singup_title">Entre com os novos dados e clique em "Alterar"</h1>
        <br/>
        <br/>
        <form method="post">{% csrf_token %}

<!--        {{ form.as_p }}-->

            <label class="labeltextform">Nome:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
            <input class="inputText" type="text" placeholder="Ensira o novo nome"              name="nome_CLIENTE"><br/><br/>

            <label class="labeltextform">CPF:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
            <input class="inputText" type="text" placeholder="Ensira o novo CPF ou CNPJ"       name="CPF_CNPJ_CLIENTE"><br/><br/>

            <label class="labeltextform">Endereço 1:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
            <input class="inputText" type="text" placeholder="Ensira o novo endereço"          name="endereco_1_CLIENTE"><br/><br/>

            <label class="labeltextform">Endereço 2:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
            <input class="inputText" type="text" placeholder="Ensira o novo endereço"          name="endereco_2_CLIENTE"><br/><br/>

            <label class="labeltextform">Telefone residencial:&nbsp&nbsp</label>
            <input class="inputText" type="text" placeholder="Ensira o novo telefone"          name="contato_telefone_residencial_CLIENTE"><br/><br/>

            <label class="labeltextform">Telefone comercial:&nbsp&nbsp&nbsp&nbsp</label>
            <input class="inputText" type="text" placeholder="Ensira o novo telefone"          name="contato_telefone_comercial_CLIENTE"><br/><br/>

            <label class="labeltextform">e-mail:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
            <input class="inputText" type="text" placeholder="Ensira o novo email"             name="contato_email_CLIENTE"><br/><br/>

            <label class="labeltextform">Descrição:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
            <input class="inputText" type="text" placeholder="Ensira a nova descrição"         name="descricao_CLIENTE">

            &nbsp
            &nbsp
            &nbsp
            <input class="inputSubmit" type="submit" value="Alterar">
        </form>
        <br/>
        <a class="linkvoltar" href="{% url 'pesquisar-cliente' %}">Voltar</a>
                <br/>
        <br/>
        <br/>

    </div>

</body>
</html>