{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>CADKlee: Entrada e saída de estoque</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/cadkleecss.css' %}">
</head>
<body>

    <div class="CADKlee_rectangle_div_red">
        <h1 class="CADKlee_title">CADKlee</h1>
    </div>

    <div class="CADKlee_form_login">
        <h1 class="CADKlee_singup_title">Entrada e saída de estoque </h1>
        <br/>
        <br/>
        <form action="" method="post">

            <h1 class="CADKlee_singup_title">Selecione um produto</h1>
            <select name="cars" id="cars" class="inputSelecione">
                <option value="selecione">Selecione</option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>
            </select>
            <br/><br/>
            <input class="inputQuantidade" type="number" placeholder="Quantidade">
            &nbsp
            <input class="inputSubmitOK" type="submit" value="OK">
        </form>
        <br/>
        <a class="linkvoltar" href="../controle_estoque/">Voltar</a>
                <br/>
        <br/>
        <br/>

    </div>

</body>
</html>