{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>CADKlee: Confirmação de exclusão</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/cadkleecss.css' %}">
</head>
<body>

    <div class="CADKlee_rectangle_div_red">
        <h1 class="CADKlee_title">CADKlee</h1>
    </div>

    <div class="CADKlee_form_login">
        <h1 class="CADKlee_singup_title">Deseja mesmo excluir este cliente?</h1>
        <p class="ptexto">Se deseja clique em "Sim, desejo" para excluir permanentemente se não clique em "Não, retornar" para retornar a página inicial</p>
        <br/>
        <br/>
        <form action="" method="post">
            <input class="inputSubmitRecuperar" type="submit" value="Sim, desejo.">
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            <a class="linkvoltar" href="../">Não, retornar</a>
        </form>
        <br/>
    </div>

</body>
</html>