{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>CADKlee: Recuperação de senha</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/cadkleecss.css' %}">
</head>
<body>

    <div class="CADKlee_rectangle_div_red">
        <h1 class="CADKlee_title">CADKlee</h1>
    </div>

    <div class="CADKlee_form_login">
        <h1 class="CADKlee_singup_title">Entre com o seu email e clique em "Recuperar senha":</h1>
        <br/>
        <br/>
        <form action="" method="post">{% csrf_token %}
            <label class="labeltextform">e-mail:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
            <input class="inputText" type="email" placeholder="digite o email aqui" name="email">
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            <input class="inputSubmitRecuperar" type="submit" value="Recuperar senha"><br/><br/>
        </form>
        <br/>
        <a class="linkvoltar" href="../">Voltar</a>
    </div>

</body>
</html>