{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>CADKlee: Pesquisa de cliente</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/cadkleecss.css' %}">
</head>
<body>

    <div class="CADKlee_rectangle_div_red">
        <h1 class="CADKlee_title">CADKlee</h1>
    </div>

    <div class="CADKlee_form_login">
        <h1 class="CADKlee_singup_title">Entre com o nome do cliente no campo abaixo e clique em "Pesquisar"</h1>
        <p class="ptexto">Caso dois ou mais clientes possuam o mesmo nome eles aparecem listados da mesma forma.</p>
        <br/>
        <br/>
        <form method="post">{% csrf_token %}
<!--            {% for field in client_registration_form %}-->
<!--            {% endfor %}-->
            <input class="inputTextPesquisa" type="text" placeholder="Nome do cliente aqui" name="nome_CLIENTE">

            &nbsp
            &nbsp
            &nbsp
            &nbsp
            <input class="inputSubmitRecuperar" type="submit" value="Pesquisar"><br/><br/>
        </form>

        {% for Clientes in object_list %}
            <table class="tablestyle">
            <tr>
                <th class="thstyle">Nome</th>
                <th class="thstyle">CPF/CNPJ</th>
                <th class="thstyle">Endereço 1</th>
                <th class="thstyle">Endereço 2</th>
                <th class="thstyle">Telefone residencial</th>
                <th class="thstyle">Telefone comercial</th>
                <th class="thstyle">Email</th>
                <th class="thstyle">Descrição</th>
            </tr>
            <tr>
                <td class="tdstyle">{{ Clientes.nome_CLIENTE }}</td>
                <td class="tdstyle">{{ Clientes.CPF_CNPJ_CLIENTE }}</td>
                <td class="tdstyle">{{ Clientes.endereco_1_CLIENTE }}</td>
                <td class="tdstyle">{{ Clientes.endereco_2_CLIENTE }}</td>
                <td class="tdstyle">{{ Clientes.contato_telefone_comercial_CLIENTE }}</td>
                <td class="tdstyle">{{ Clientes.contato_telefone_residencial_CLIENTE }}</td>
                <td class="tdstyle">{{ Clientes.contato_email_CLIENTE }}</td>
                <td class="tdstyle">{{ Clientes.descricao_CLIENTE }}</td>
                <td class="tdlink"><p>             </p></td>
                <td class="tdlink"><a href="{% url 'editar-cliente' Clientes.pk %}">EDITAR</a></td>
                <td class="tdlink"><p>             </p></td>
                <td class="tdlink"><a href="{% url 'excluir-cliente' Clientes.pk %}">EXCLUIR</a></td>
            </tr>

        </table>
            <br/>
            <br/>
                {% endfor %}
        <br/>
        <a class="linkvoltar" href="../cadastro_de_clientes">Voltar</a>
    </div>

</body>
</html>