{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>CADKlee: Confirmação de reset</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/cadkleecss.css' %}">
</head>
<body>

    <div class="CADKlee_rectangle_div_red">
        <h1 class="CADKlee_title">CADKlee</h1>
    </div>

    <div class="CADKlee_form_login">
        <h1 class="CADKlee_singup_title">Entre com a nova senha</h1>
        <p class="ptexto">Digite e confirme a nova senha e clique em "Mudar senha"</p>
        <br/>
        <br/>
        <form action="" method="post">{% csrf_token %}

            <label class="labeltextform">Nova senha:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
            <input class="inputText" type="password" placeholder="Sua senha aqui"              name="new_password1"><br/><br/>

            <label class="labeltextform">Digite novamente:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
            <input class="inputText" type="password" placeholder="Confirme ela digitando aqui" name="new_password2"><br/><br/>

            &nbsp
            &nbsp
            &nbsp
            &nbsp
            <input class="inputSubmitRecuperar" type="submit" value="Mudar senha">
        </form>
        <br/>
    </div>

</body>
</html>