{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>CADKlee: Cadastro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/cadkleecss.css' %}">
</head>
<body>

    <div class="CADKlee_rectangle_div_red">
        <h1 class="CADKlee_title">CADKlee</h1>
    </div>

    <div class="CADKlee_form_login">
        <h1 class="CADKlee_singup_title">Entre com seus dados e clique em "Criar usuário"</h1>
        <br/>
        <br/>
        <form method="post">{% csrf_token %}

            {% for field in registration_form %}
                <p>
<!--                    {{field.label_tag}}-->
<!--                    {{field}}-->

                    {% if field.help_text %}
                        <small style="color: grey;">{{field.help_text}}</small>
                    {% endif %}

                    {% for error in field.errors%}
                        <p style="color: red;">{{error}}</p>
                    {% endfor %}
                </p>
            {% endfor %}

            <label class="labeltextform">Nome:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
            <input class="inputText" type="text"     placeholder="digite o nome aqui"   name="username"><br/><br/>

            <label class="labeltextform">e-mail:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
            <input class="inputText" type="email"    placeholder="digite o email aqui"  name="email"><br/><br/>

            <label class="labeltextform">senha:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
            <input class="inputText" type="password" placeholder="senha"                name="password1"><br/><br/>

            <label class="labeltextform">repetir senha:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
            <input class="inputText" type="password" placeholder="repetir senha"        name="password2">


            &nbsp
            &nbsp
            &nbsp
            <button class="inputSubmit" type="submit">Criar usuário</button>
        </form>
        <br/>
        <a href="../">Voltar</a>
    </div>

</body>
</html>